form.login {
    margin-left: auto;
}
.error-login {
    margin-left: auto;
    color: #ff0000;
    margin-right: 20px
}
#search-info {
    display: none;
}

#container-fluid {
    height: auto;
}

#search-text{
    width:350px;
}

header {
    background-color: #212529;
}

form.login label {
    margin-bottom: 0px;
    color: #ffffff;
}

footer {
    display: none;
}
